/* * {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
} */
body {
  background-color: rgb(197, 235, 235);
}
h4 {
  color: red;
}
.menu {
  color: rgb(225, 70, 19);
  font-size: 20px;
  background-color: rgb(0, 255, 213);
  margin-left: 10px;
  font-style: normal;
}
.menu a {
  text-decoration: none;
}
ul li {
  color: darkorchid;
  list-style: circle;
}
#portofolio {
  background-color: rgb(248, 241, 219);
  margin-top: 5px;
  border-style: groove;
}
input {
  padding: 10px;
  border: 1px dotted red;
}
h1,
p,
b {
  font-size: 12px;
}
button {
  padding: 5px;
  border: 1px gray groove;
  border-radius: 5px;
}
#menukiri {
  border: 1px dotted red;
}
